<table class="table table-bordered table-hover table-responsive">
  <thead class="thead-default">
  <tr>
    <th>Year</th>
    <th>League</th>
    <th>Team</th>
    <th>GP</th>
    <th>AB</th>
    <th>Runs</th>
    <th>Hits</th>
    <th>2B</th>
    <th>3B</th>
    <th>HRs</th>
    <th>RBIs</th>
    <th>SB</th>
    <th>CS</th>
    <th>BA</th>
    <th>SP</th>
  </tr>
  </thead>

  <tbody>
  <% @player.battings.each.each do |batting| %>
      <tr>
        <td><%= batting.yearID %></td>
        <td><%= batting.league %></td>
        <td><%= batting.teamID %></td>
        <td><%= batting.gamesPlayed %></td>
        <td><%= batting.atBats %></td>
        <td><%= batting.runs %></td>
        <td><%= batting.hits %></td>
        <td><%= batting.doubles %></td>
        <td><%= batting.triples %></td>
        <td><%= batting.homeruns %></td>
        <td><%= batting.runsBattedIn %></td>
        <td><%= batting.stolenBases %></td>
        <td><%= batting.caughtStealing %></td>
        <td> <%= calculate_season_batting_average(batting) %></td>
        <td> <%= calculate_season_slugging_percentage(batting) %></td>
      </tr>
  <% end %>
  </tbody>
</table>