<div class="container-fluid">
  <h1 class="FancyHeader">Leaderboard</h1>
  <!-- leaderboard chart code -->
  <table class="table table-bordered table-responsive table-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>League</th>
      <th>Season</th>
      <th>Batting Average</th>
      <th>Slugging Percentage</th>
    </tr>
    </thead>

    <tbody>
    <% @leaderData.each do |player| %>
        <tr>
          <td><%= player['firstName'] %> <%= player['lastName'] %></td>
          <td><%= player['team'] %></td>
          <td><%= player['league'] %></td>
          <td><%= player['season'] %></td>
          <td><%= player['ba'] %></td>
          <td><%= player['sp'] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

