<!DOCTYPE html>
<html>
  <head>
    <title>Baseball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Baseball Stats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href=<%= leaderboard_players_path %> class="nav-link">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a href=<%= players_path %> class="nav-link">Players</a>
        </li>
      </ul>
      <a href=<%= new_player_path %> class="btn btn-sm btn-outline-secondary my-sm-0" role="button">Add a Player</a>
    </div>
  </nav>
    <div class="GlobalDiv">
      <%= yield %>
    </div>
  </body>
</html>
